<div class="jumbotron">
	<h1 class="display-3">SUPER PROYECTO PARA APROBAR madafacka!</h1>
	<br>
	 <p class="lead">
	 <%= link_to 'PROYECTOS', proyects_path, class: "btn btn-success-outline  btn-vol" %>

  	</p>
</div>
